.navbar-map {
  width: 100%;
  position: fixed !important;
  z-index: 99;
  height: auto;
  display: flex;
  justify-content: space-between;
  background: #212121;
  font-family: ProximaNova;
  @media (max-width: 1100px) {
    display: none !important;
  }
  img {
    height: auto;
    max-width: 100%;
    width: 195px;
  }

  nav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @media (max-width: 1400px) {
      width: 60%;
    }

    a {
      font-weight: 600;
      font-style: normal;
      font-size: 18px;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      text-decoration: none;
      line-height: 1em;
      color: rgba(255, 255, 255, 0.9);
      font-family: ProximaNova;

      &:hover {
        color: white;
      }
      &:last-child {
        background-color: #fff;
        -moz-osx-font-smoothing: auto;
        -webkit-font-smoothing: subpixel-antialiased;
        color: #000;
        -webkit-transition: background-color 0.1s 0s ease-in-out,
          color 0.1s 0s ease-in-out;
        -moz-transition: background-color 0.1s 0s ease-in-out,
          color 0.1s 0s ease-in-out;
        -ms-transition: background-color 0.1s 0s ease-in-out,
          color 0.1s 0s ease-in-out;
        -o-transition: background-color 0.1s 0s ease-in-out,
          color 0.1s 0s ease-in-out;
        transition: background-color 0.1s 0s ease-in-out,
          color 0.1s 0s ease-in-out;
        padding: 15px 30px;

        &:hover {
          background: darken($color: rgba(214, 214, 214, 0.6), $amount: 1%);
        }
      }
    }
  }
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: white;
  color: black;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
